#root {
    max-width: 1280px;
    margin: 0 auto;
    padding: 2rem;
    text-align: center;
}

.header{
    position: fixed;
    top: 0;
    left:0;
    width: 12vw;
    height: 100vh;
}

.content{
    margin-left: 12vw;
}

