#root {
    max-width: 100%;
    margin: 0;
    padding: 0;
    text-align: center;
}

.content {
    position: relative;
    z-index: 1;
    margin-top: 80px;
    width: 100vw;
    min-height: calc(100vh - 80px);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.contentNoHeader {
    margin-top: 0;
    min-height: 100vh;
}

