.site-header {
  display: flex;
  align-items: center;
  container-type: size;
  width: 100%;
  height: 8vh;
  padding: 2rem 0rem;
  margin-bottom: 4rem;
}

.site-header a {
  color: #e8e5dd;
  font-size: 100cqh;
  line-height: 1;
  text-decoration: none;
}

@media (max-width: 700px) {
  .site-header {
    margin-bottom: 5rem;
  }
}